.conteiner {
	padding-left: 15px;
	padding-right: 15px;
	// phone screen
	@media screen and (min-width: 480px) {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
		// outline: 2px solid rgb(153, 51, 51);
	}

	// tablet screen
	@media screen and (min-width: 768px) {
		width: 768px;
		margin-left: auto;
		margin-right: auto;
		// outline: 2px solid rgb(153, 51, 51);
	}

	// desctop screen
	@media screen and (min-width: 1200px) {
		min-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		// outline: 2px solid rgb(153, 51, 51);
	}
}
