.heder {
	border: 1px solid #ececec;
}
.heder__part {
	color: var(--heder-logo-color-sub);
}

.heder-contact {
	display: none;
}

.heder-contact__link {
	display: none;
}
.heder__conteiner {
	display: flex;
	align-items: center;
}

.heder__logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: var(--heder-logo-color);
	@media screen and (min-width: 768px) {
		margin-right: 93px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.heder-contact {
		display: inline-block;
		margin-left: auto;

		padding-top: 21px;
		padding-bottom: 21px;
	}

	.heder-contact__item {
		margin-bottom: 10px;
	}

	.heder-contact__link {
		font-weight: 500;
		font-size: 12px;
		line-height: calc(14 / 12);
		letter-spacing: 0.02em;
		color: var(--heder-mail-tel);
		display: flex;
		align-items: center;
		gap: 10px;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			color: var(--heder-mail-tel-hover-focus);
		}
	}

	.heder-contact__icon {
		fill: currentColor;
	}
}

@media screen and (min-width: 1200px) {
	.heder-contact {
		display: flex;
		margin-left: auto;
		gap: 50px;
	}

	.heder-contact__link {
		font-weight: 500;
		font-size: 14px;
		line-height: calc(16 / 14);
		letter-spacing: 0.02em;
		color: var(--heder-mail-tel);
		display: flex;
		align-items: center;
		gap: 10px;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		&:hover,
		&:focus {
			color: var(--heder-mail-tel-hover-focus);
		}
	}

	.heder-contact__icon {
		fill: currentColor;
	}
}
