:root {
	--heder-logo-color: #2196f3;
	--heder-logo-color-sub: #000000;
	--nav-link-hover-focus: #2196f3;
	--heder-mail-tel: #757575;
	--heder-mail-tel-hover-focus: #2196f3;
	--main-background-color: #2f303a;
	--main-title: #ffffff;
	--main-text-btn-color: #ffffff;
	--main-btn-background-color: #2196f3;
	--main-btn-background-color-hover-focus: #188ce8;
	--benefits-text-color: #757575;
	--footer-background-color: #2f303a;
	--footer-logo: #2196f3;
	--footer-logo-part: #ffffff;
	--footer-map-link: #ffffff;
	--footer-mail-tel-link: rgba(255, 255, 255, 0.6);
	--footer-mail-map-tel-link-focus-hover: #2196f3;
	--portfolio-btn-color: #212121;
	--portfolio-btn-background: #f5f4fa;
	--portfolio-btn-color-hover-focus: #ffffff;
	--portfolio-btn-background-hover-focus: #2196f3;
	--portfolio-text: #757575;
	--heder-inx: 10;
	--modal-inx: 100;
	--menu-inx: 1000;
}
